alias codex='f(){ f="$(find "$HOME/.codex/sessions" -type f -name "*.jsonl" | fzf)"; [ -n "$f" ] && command codex --search -c "experimental_resume=$f" "$@" || command codex "$@"; }; f'
alias vi='vim -u ~/.vimrc -N'
