[core]
	# Policy: Just use LF(\n). Editors do not depends on native EOL.
	autocrlf = false
	# `.gitignore`は`gomplate`で無視されてしまうため。
	excludesFile = ~/.gitignore_global
[init]
	defaultBranch = main
[merge]
	conflictStyle = diff3
[pull]
	default = current
	# ff = only
	rebase = false
[push]
	default = current
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[alias]
	set-upstream = \
		!git branch \
			--set-upstream-to=origin/`git symbolic-ref --short HEAD`
	# https://stackoverflow.com/questions/32056324/there-is-no-tracking-information-for-the-current-branch

	delete-merged-branch = !git branch --merged | egrep -v '\\*|main|master|development' | xargs git branch -d
	# https://qiita.com/ucan-lab/items/97c53a1a929d2858275b
[user]
	name = {{ (datasource "values").git_user_name }}
	email = {{ (datasource "values").git_user_email }}
