[branch]
	autoSetupMerge = always
[core]
	# Policy: Just use LF(\n). Editors do not depends on native EOL.
	autocrlf = false
	# gomplate ignores .gitignore
	excludesFile = ~/.gitignore_global
	# xhiroga/homelab uses symbolic link
	symlinks = true
[init]
	defaultBranch = main
[merge]
	conflictStyle = diff3
[pull]
	default = current
	# ff = only
	rebase = false
[push]
	default = current
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[alias]
	delete-merged-branch = !git branch --merged | egrep -v '\\*|main|master|development' | xargs git branch -d
	# https://qiita.com/ucan-lab/items/97c53a1a929d2858275b
[user]
	name = {{ (datasource "values").git_user_name }}
	email = {{ (datasource "values").git_user_email }}
